.container {
  // max-width: 414px;
  // max-height: 736px;
}

body {
  font-family: 'Lato', sans-serif;
}

html, body, .ng-scope, .container-fluid, .row {
  height: 100%;
}

main {
  text-align: center;
}

form {
  text-align: left;

}

nav.navbar {
  margin-bottom: 0px;
  img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }
}

//****************************************@mixin
// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//      -moz-border-radius: $radius;
//       -ms-border-radius: $radius;
//           border-radius: $radius;
// }
//
// .box { @include border-radius(10px); }


//**********************************************@extend
// .message {
//   border: 1px solid #ccc;
//   padding: 10px;
//   color: #333;
// }
//
// .success {
//   @extend .message;
//   border-color: green;
// }
//
// .error {
//   @extend .message;
//   border-color: red;
// }
//
// .warning {
//   @extend .message;
//   border-color: yellow;
// }

//********************************************Operators: +, -, /, %
