.container {
  // max-width: 414px;
  // max-height: 736px;
}

body {
  font-family: "Roboto", cursive;
}

main {
  text-align: center;
}

form {
  text-align: left;

}

nav.navbar {
  margin-bottom: 0px;
}
