.jumbotron {
  background-image: url("/images/cosmo.jpg");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  background-position:center;
  #hero{
    padding: 17px;
    width: 100%;
    margin-top: 0;
    background-color: $jumbotron;
    h1 {
      font-family: 'Fredoka One', cursive;
      font-size: 70px;
      // font-weight: bold;
    }
  }
  p {
    color: $white;
    font-weight: lighter;
    font-size: 40px;
  }
}

a.btn {
  width: 160px;
}

div.jumbotron.ng-scope {
  padding: 0;
}

// footer {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     height: 100px;
//     width: 100%;
//     background-color: red;
// }
