.jumbotron {
  background-image: url("/images/cosmo.jpg");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  // width: auto;
  // height: 100%;
  // background-repeat: no-repeat;
  // background-position: center center fixed;
  // background-size: contain;
  // color: $p_color;
  // padding: 0;
  h1 {
    background-color: $h1_color;
    opacity: 0.7;
    padding: 20px;
    width: 100%;
    margin-top: 0;
    filter: alpha(opacity=100);
    // border-radius: 5px 5px 0 0;
    font-size: 50px;
  }
  p {
    color: $p_color;
    font-weight: lighter;
    font-size: 40px;
  }
}
a.btn {
  // width: 160px;
}

div.jumbotron.ng-scope {
  // padding: 0;
}
