.userShow {
  h1 {
    font-size: 30px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  ul.drinkslist {
    text-align: center;
    li.drinky {
      display: inline-block;
      margin: 10px 10px;
      padding: 10px 20px;
      background: #225560;
      // width: 240px;
      // height: 240px;
      color: white;
      ul.drinksinfo {
        text-align: center;
        li {
          display: inline-block;
          margin: 0 20px;
        }
      }
    }
  }


}
