<div class="userShow">
  <h1>{{ show.user.username }}</h1>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDrink">Add Drink</button>
  <ul class="drinkslist">
    <li class="drinky" ng-repeat="drink in show.user.drinks">
      <h1>{{drink.name}}</h1>
        <ul class="drinksinfo">
          <li>How many?: {{drink.quantity}}</li>
          <li>Units?: {{drink.units}}</li>
          <li>Price?:{{drink.price}}</li>
        </ul>
    </li>
  </ul>
  <div id="addDrink" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Add Drink</h3>
        </div>
        <form ng-submit="show.addDrink()">
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name of drink</label>
              <input class="form-control" id="name" ng-model="show.drink.name">
            </div>
            <div class="form-group">
              <label for="quantity">Number of drinks</label>
              <input class="form-control" type="number" min="1" step="any" id="quantity" ng-model="show.drink.quantity">
            </div>
            <div class="form-group">
              <label for="units">Number of units</label>
              <input class="form-control" type="number" min="1" step="any" id="units" ng-model="show.drink.units">
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input class="form-control" type="number" min="1" step="any" id="price" ng-model="show.drink.price">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
