// Colors
$white:     #FFFFFF;
$cream:     #EFC88B;
$penny:     #B0776B;
$dust:      #E4C9C2;
$peach:     #F7D08A;
$yellow:    #FFF200;
$blue:      #0060A8;
$green:     rgba(34,85,96,0.5);
$greenbold: #225560;
$gray:      #484848;
$jumbotron: rgba(211,211,211,0.2);
$squares:   rgba(211,211,211,0.5);
$jetgray:   #303030;
$black:     #000000;

//jumbotron
$h1_color: $black;
$p_color:  $white;

//BODY
$body_background: $white;
