// Colors
$black: #000000;
$gray: #484848;
$blue: #0060A8;
$yellow: #FFF200;
$jetgray: #303030;
$white: #FFFFFF;

//Fonts 

//Fonts-sizes


//Module specific variables

//jumbotron
$h1_color: $black;
$p_color: $white;

//NAV

//MAIN

//FOOTER
